{% extends "admin/base.html" %}
{% load i18n %}

{% block extrahead %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
    {% include 'autocomplete_light/static.html' %}
<link href="/static/css/chosen.css?v=1" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/inlines.js"></script>
<script type="text/javascript" src="/static/js/chosen.jquery.min.js?v=1"></script>
<script type="text/javascript" src="/static/js/chosen.jquery_ready.js?v=3"></script>
{% endblock %}
{% block title %}{{ title }} | {% trans 'Media Komunitas admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Media Komunitas' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

